# ChromaPalette==0.1.1
tqdm
h5py
numpy==1.26.4
pandas
seaborn
plotly
scikit-learn
scikit-image
datafed==3.0.0
igor==0.3
imagej==0.3.1
imutils==0.5.4
matplotlib==3.9.2
opencv-python==4.7.0.72
openpyxl==3.0.10
Pillow==9.2.0
protobuf==5.27.1
PyScaffold==4.6
pytest==7.1.2
shapely==2.0.1
tox==4.21.2
virtualenv==20.26.6
wget==3.2
xrayutilities==1.7.8
scipy<1.10
# mpl_toolkits
opencv-python
mp_api
M3Learning-Util==2.0.5
Plume-Learn
AFM-Learn
XRD-Learn
./